$text: #fff;
$icon: #fff;
$text2: #687078;
$old: #95979F;
$close: #CED1D8;
$text3: #818798;
$accent: #01B9C5;
$accent-bg: #FD4D35;
$link: #2D97F9;
$border: #D3D6DD;
$card-color: #2D3242;
$card-color2: #2F4353;
$line: #E7EAF1;